// posts list styles
div.posts {
  margin-top: 30px;

  div.media {
    margin-top: 30px;
    img.thumb {
      width: 200px;
    }
  }

  a.vote-link {
    cursor: default;
  }

  a.vote-link.upvotable {
    cursor: pointer;
  }
}
