// posts list styles
div.post-content {
  position: relative;
  display: block;
  h3 {
    margin: 0;
    text-transform:uppercase;
  }
}
a.vote-link {
  cursor: default;
}

a.vote-link.upvotable {
  cursor: pointer;
}

div.paging {
  visibility: visible;
  opacity: 1.0;
}
div.postitem {
  .heart,
  .comment {
    font-size: 26px;
    position: absolute;
    left: 15px;
    bottom: 15px;
  }

  .comment {
    left: auto;
    right: 15px;
  }
}
