// page style
div.video {
  width: 50%;
  div.square-inner {
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

div.comment {
  h4 {
    a {
      color: @black;
      &:hover {
        color: @white;
      }
    }
    span.date {
      display: inline-block;
      padding-left: 5px;
      color: @black;
      font-size: 14px;
    }
  }
}
