// base styles
body {
  background-color: @body-bg;
  font-family: @serif;
}
h1, h2, h3, h4, h5, h6 {
  color: @brand-primary;
  font-family: @sans;
}
a {
  color: @brand-grey;
  &:hover {
    color: @brand-primary;
    text-decoration: none;
  }
}
