// base styles
body {
  background-color: @body-bg;
  font-family: @sans;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @header;
  color: @white;
}
a {
  color: @white;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  &:hover {
    color: @black;
  }
}
i.fa {
  font-size: 26px;
}
