// header styles
div.header {
  visibility: visible;
  opacity: 1.0;
  font-size: 18px;
  div.square-inner {
    background: #bdc3c7;
  }
  h1 {
    padding: 0;
    margin: -12px 0 0 0;
    text-transform: uppercase;
    font-weight: 800;
    // line-height: 100px;
    color: #5C97BF;
  }
  i {
    margin-right: 15px;
  }
  div.nav {
    text-align: center;
  }
}
ul.notification-container {
  display: none;
}
