// header styles
div.header {
  visibility: visible;
  opacity: 1.0;
  font-size: 18px;
  div.square-inner {
    background: #bdc3c7;
  }
  h1 {
    padding: 0;
    margin: -12px 0 0 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #5C97BF;
  }
  i {
    margin-right: 15px;
  }
  div.nav {
    text-align: center;
  }
}

// notifications
#notification-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: #bdc3c7;
  opacity: 0.8;
  display: none;
  z-index: 3000;

  h3 {
    position: absolute;
    top: 12px;
    left: 40px;
    padding: 0;
    margin: 0;
    color: @white;
    text-transform: uppercase;
  }

  div.notification-inner {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    padding-top: 40px;

    span {
      display: block;
      text-align: center;
      margin: 50px 10px 15px;
      color: @white;
      text-transform: uppercase;
    }
  }

  a.notification-item {
    display: block;
    margin: 10px 10px 15px;
    text-align: left;
  }

  a.close-icon {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
  }


}
