@media only screen and (max-width: 1000px) {
  div.square {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media only screen and (max-width: 767px) {
  div.square {
    width: 100%;
    padding-bottom: 100%;
  }
}
