// squares list styles
div.square {
  float:left;
  position: relative;
  width: 20%;
  padding-bottom: 20%; /* = width for a 1:1 aspect ratio */
  margin:0;
  overflow:hidden;
  div.square-inner {
    position:absolute;
    height:96%; /* = 100% - 2*5% padding */
    width:96%; /* = 100% - 2*5% padding */
    padding: 2% 2%;
  }
}
