// variables
@body-bg:  #efefef;
@white: #fff;
@black: #000;
@brand-grey: #272b34;
@brand-primary: #e74c3c;
@brand-blue: #0057a0;

// fonts
@sans: 'Open Sans', sans-serif;
@serif: 'Merriweather', serif;
