<template name="postPage">

    <img class="thumb" src="{{thumbnail_url}}" alt="{{title}}">
    <h2>{{title}}</h2>
    <p>
      <a href="#" class="vote-link {{upvotedClass}}">
        Love
      </a>
      {{pluralize votes "love"}}
    </p>
    <p><a href="{{url}}">{{domain}}</a></p>

  {{#if isVideo}}
    THIS HAS EMBED CODE
    <p>{{{html}}}</p>
  {{/if}}
  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>

  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Sign in with twitter to post a comment</p>
  {{/if}}
</template>
