<template name="postPage">
  <div class="square nolink">
    <div class="square-inner">
    </div>
  </div>
  <div class="square nolink animate">
    <div class="square-inner" style="background-color: {{postColour}}">
      <div class="post-content">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
  <a href="{{url}}">{{domain}}</a>
  <div>
    <a href="#" class="vote-link {{upvotedClass}}">
      Love
    </a>
    {{pluralize votes "love"}}
  </div>
  <div>
    {{#if isVideo}}
      <p>{{{html}}}</p>
    {{else}}
      <p><img class="thumb" src="{{thumbnail_url}}" alt="{{title}}"></p>
    {{/if}}
  </div>
  <ul class="comments">
    {{#each comments}}
      {{> commentItem}}
    {{/each}}
  </ul>

  {{#if currentUser}}
    {{> commentSubmit}}
  {{else}}
    <p>Sign in with twitter to post a comment</p>
  {{/if}}
</template>
