<template name="postPage">
  <div class="square nolink animate video" style="background-color: {{postColour}}">
    <div class="square-inner">
      {{#if isVideo}}
        {{{html}}}
      {{else}}
        <a href="{{url}}">
          <img class="thumb" src="{{thumbnail_url}}" alt="{{title}} - {{domain}}">
        </a>
      {{/if}}
    </div>
  </div>
  <div class="square nolink animate">
    <div class="square-inner" style="background-color: {{postColour}}">
      <div class="post-content">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
  <div class="square nolink animate">
    <div class="square-inner" style="background-color: {{postColour}}">
      <div class="post-content">
        <h3>Comments</h3>
        {{#if currentUser}}
          {{> commentSubmit}}
        {{else}}
          <p>Something to say?</p>
          <p><a href="#" id="twitterLogin">Sign in with Twitter to join the conversation</a></p>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if commentsCount}}
    {{#each comments}}
      <div class="square nolink visible">
        <div class="square-inner comment" style="background-color: {{commentColour}}">
          {{> commentItem}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="square nolink visible">
      <div class="square-inner comment" style="background-color: {{randomPostColour}}">
      </div>
    </div>
    <div class="square nolink visible">
      <div class="square-inner comment" style="background-color: {{randomPostColour}}">
      </div>
    </div>
    <div class="square nolink visible">
      <div class="square-inner comment" style="background-color: {{randomPostColour}}">
      </div>
    </div>
  {{/if}}
</template>
