<template name="header">
  <div class="header square">
    <div class="square-inner">
      <h1>Trailer Park</h1>
      <div class="nav">
        <span class="{{activeRouteClass 'home' 'newPosts'}}">
          <span class="simptip-position-top" data-tooltip="Fresh">
            <a href="{{pathFor 'newPosts'}}"><i class="fa fa-newspaper-o"></i></a>
          </span>
        </span>
        <span class="{{activeRouteClass 'bestPosts'}}">
          <span class="simptip-position-top" data-tooltip="Popular">
            <a href="{{pathFor 'bestPosts'}}"><i class="fa fa-line-chart"></i></a>
          </span>
        </span>
        {{#if currentUser}}
          <span class="{{activeRouteClass 'postSubmit'}}">
            <span class="simptip-position-top" data-tooltip="Submit a trailer">
              <a href="{{pathFor 'postSubmit'}}"><i class="fa fa-file-video-o"></i></a>
            </span>
          </span>
          {{> notifications}}
          <span>
            <span class="simptip-position-top" data-tooltip="Sign out">
              <a href="#" class="btn-link" id="logout"><i class="fa fa-sign-out"></i></a>
            </span>
          </span>
        {{else}}
          <span class="simptip-position-top" data-tooltip="Sign in with Twitter">
            <a href="#" id="twitterLogin"><i class="fa fa-sign-in"></i></a>
          </span>
        {{/if}}
      </div>
    </div>
  </div>
</template>
