<template name="header">
  <div class="text-center header clearfix">
    <h1>Trailer Park</h1>
  </div>
  <div>
    <span class="{{activeRouteClass 'home' 'newPosts'}}">
      <a href="{{pathFor 'newPosts'}}">Latest</a> |
    </span>
    <span class="{{activeRouteClass 'bestPosts'}}">
      <a href="{{pathFor 'bestPosts'}}">Popular</a> |
    </span>
    {{#if currentUser}}
      <span class="{{activeRouteClass 'postSubmit'}}">
        <a href="{{pathFor 'postSubmit'}}">Submit trailer</a>
      </span>
    {{/if}}
    {{> loginButtons}}
  </div>
  <ul>
    <li class="dropdown">
      {{> notifications}}
    </li>
  </ul>
</template>
